.botao_login {
    -fx-background-color: #4169E1;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #000;
    -fx-border-radius: 5px;
    -fx-border-width: 0.5px;
    -fx-font-size: 14px;
    -fx-padding: 4 20 4 20;
}

.erro-login, .erro-campo {
    -fx-border-color: red;
    -fx-text-fill: red;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
}
